html {
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
  /* font-size: 16px; */
  scroll-behavior: smooth;
}
/* Temas */
:root {
  --bg-light: #ffffff;
  --bg-dark: #191919;
  --text-light: #191919;
  --text-dark: #efefef;
  --text-middle: #7f7f7f;
}

body.light-mode {
  background-color: var(--bg-light);
  color: var(--text-light);
}

body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}


body {
  height: 100vh;
  position: relative;
  margin: 0;
  background-color: var(--bg-light);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: -1px;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--text-light);
  font-size: 1rem;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0;
}

h1 {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  letter-spacing: -1px;
  line-height: 1;
  color: var(--text-middle);
}

h3 {
  font-family: "Instrument Serif", serif;
  font-weight: 300;
  font-style: normal;
  /* font-size: 5rem; */
}

h4 {
  font-family:  "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: -2px;
}

a {
  text-decoration: none;
  color: var(--text-light);
}

/* wrapper fijo del cursor */
#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 2147483647;
}

/* bola del cursor */
#custom-cursor .cursor-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background: var(--text-light);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.3s ease-in-out;
  pointer-events: none;
  mix-blend-mode: difference !important; 
  unicode-bidi: isolate;
}

/* efecto hover sobre links */
#custom-cursor .cursor-inner .link-hover  {
  transform: translate(-50%, -50%) scale(2);
}

/* isolation solo para el contenido principal */
.page, .page-content {
  isolation: isolate; /* NO en body */
}

.content #custom-cursor .cursor-inner {
  mix-blend-mode: difference;
}

/* ocultar cursor en móvil */
@media (max-width: 768px) {
  #custom-cursor { display: none; }
  body { cursor: auto !important; }
}

/* HOME  */
nav {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}


.nav-link:hover {
  cursor: pointer;
}

#expanded-menu {
  background-color: transparent;
  border-bottom: 1px solid var(--bg-dark);
  overflow: hidden;
  height: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  img {
    max-width: 40vh;
    max-height: 40vh;
    object-fit: cover;
    opacity: 0;
  }
}

.section-present {
  justify-content: space-between;
  width: 100%;
  position: absolute;
}

.presentacion {
  width: 50%;
}

.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--text-light);
  z-index: 999
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.transition {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}



.footer {
  position: sticky;
  width: 100%;
  bottom: 0;
}

.sol {
  font-family: "Inter", sans-serif;
  font-weight: 600 !important;
}



.galeria-3d {
    width: 100%;
    height: 85vh;
    position: relative;
    overflow: hidden;
    background: transparent; /* Importante: transparente */
}

#contenedor-3d {
    width: 100%;
    height: 100%;
    display: block;
}

/* INFO */
.info-content {
  display: flex;
  flex-direction: column;
  width: 30%;
}

h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


